{#
    /**
     * /views/components/shares
     *
     * @package WordPress
     * @author  Jérémy Levron <jeremylevron@19h47.fr>
     */
#}
<ul class="Shares">
	<li class="Shares__title">Partager sur</li>

	{% for share in shares %}
		<li class="Shares__item">
		<a
			href="{{ share.url }}"
			title="{{ share.title }}"
			{{ share.slug == 'envelope' ? ' target="_blank"' }}>
			{{- share.name -}}
		</a>
		{{- not loop.last ? ', ' -}}
		</li>
	{% endfor %}
</ul>