{#
    /**
     * /views/components/tweet
     *
     * @package WordPress
     * @author  Jérémy Levron <jeremylevron@19h47.fr>
     */
#}
<article class="Tweet">
	<a class="Tweet__link" href="{{ tweet.meta( '_tweet_url' ) }}" target="_blank">
		<img
			class="Tweet__thumbnail"
			src="{{ Image( tweet.thumbnail ).src }}"
			width="{{ Image( tweet.thumbnail ).width }}"
			height="{{ Image( tweet.thumbnail ).height }}"
		>
	</a>
	<p class="Tweet__title margin-xs-bottom-24">{{ tweet.title }}</p>
	<p class="Tweet__date">{{ tweet.post_date|date( 'j F Y' ) }}</p>
	<strong class="font-family-title">&ndash;</strong>
</article>